.grid {
    &.course-selection {
        grid-template-areas:
            'title selected'
            'main-course selected'
            'upgrades selected'
            '. selected';

        @media (width < 1000px) {
            grid-template-columns: 1fr;
            grid-template-areas:
                'title'
                'main-course'
                'upgrades'
                'selected';
        }

        .grid-area--selected {
            @media (width < 1000px) {
                grid-row: last;
            }
        }
    }
}

.item {
    label {
        display: flex;
        align-items: flex-start;
        gap: 10px;
        cursor: pointer;

        &:before {
            content: '';
            display: inline-flex;
            width: 20px;
            height: 20px;
            border: 2px solid #014785;
            border-radius: 50%;
            aspect-ratio: 1 / 1;
        }

        > div {
            width: 100%;
            display: flex;
            gap: var(--gap);
            justify-content: flex-start;
        }

        &:has(:is(input[type='checkbox']:checked, input[type='radio']:checked)) {
            &:before {
                background-image: url('/icons/icon-check.svg');
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
    }
}