.grid {
    &.payment {
        grid-template-columns: 1fr fit-content(100%) 300px;
        grid-template-areas:
            'title title selected'
            'heading pay_later selected'
            'gateway gateway selected'
            'error_text error_text selected';
        gap: 10px 20px;

        @media (width < 1000px) {
            grid-template-columns: 1fr;
            grid-template-areas:
                'title'
                'heading'
                'details'
                'selected'
                'gateway'
                'pay_later'
                'error_text';
        }

        :is(.grid-area--selected, .grid-area--selected > .wrap) {
            @media (width < 1000px) {
                overflow: hidden;
            }
        }

    }
}

:is(label:has(#pay-later), .total-text) {
    &:before {
        content: unset;
    }
}

label:has(> #pay-later) {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 10px;
    margin-block: 10px;
    font-weight: 600;

    span {
        color: #043156;
        font-size: 14px;
        text-wrap: balance;
        line-height: 1.5;
    }

    @media (width < 1000px) {
        justify-content: center;
        border: 1px solid #e1e1e1;
        border-radius: 3px;
        padding: 10px;
    }
}

.total-text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #043156;
    display: flex;
    flex-flow: row wrap;
    gap: 0 10px;
}

#pay-later {
    margin-top: 0;
    width: 20px;
    height: 20px;
}

.payment-option-heading {
    display: flex;
    flex-direction: column;
}

.payment-option--title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    margin: 0;
    color: #043156;
    text-wrap: balance;
}

.payment-option--subtitle {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin: 0;
    color: #043156;
    text-wrap: balance;
}

.or {
    display: grid;
    grid-template-areas: 'line--left or line--right';
    grid-auto-rows: fit-content(100%);
    grid-template-columns: auto min-content auto;
    align-items: center;
    gap: 10px;
    margin-top: 10px;

    @media (width > 1000px) {
        display: none;
    }

    .line {
        height: 1px;
        background: #e1e1e1;
    }
}

#main {
    .expand {
        display: none;
    }

    &:has(.expand:checked) {
        --content-size: 1fr;

        .is-open {
            display: block;
        }

        .is-closed {
            display: none;
        }
    }

    &:has(.expand:not(:checked)) {
        .is-open {
            display: none;
        }

        .is-closed {
            display: block;
        }
    }

    &:has(#pay-later:checked) {
        .later-description {
            display: block !important;
        }
    }

    &:has(#pay-later:checked) {
        #complete-payment, #dropin-container, [id*='zoid'], button:not(.is_pay_later):not(.apply-coupon):not(.paylater_next), iframe {
            display: none !important;
        }
    }

    &:has(#pay-later:not(:checked)) {
        .is_pay_later, .later-description {
            display: none !important;
        }
    }

    .later-description {
        p {
            margin-block: 10px;
        }
    }

    div:has(> div[slot]) {
        display: none !important;
    }
}

.wrap {
    --gap: 0;
}

.apply-coupon {
    min-width: 72px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        max-height: 16px;
        width: fit-content;
    }
}