.grid {
    &.student-information {
        grid-template-areas:
            'student-info selected'
            'delivery selected'
            '. selected';

        div:has(> :is(input[type="text"], input[type="email"], input[type="tel"])) {
            position: relative;

            &:before {
                content: '';
                position: absolute;
                width: 30px;
                height: 100%;
                background-size: calc(100% - 12px);
                background-repeat: no-repeat;
                background-position: center;
            }
        }

        div:has(> input[type="text"]) {
            &:before {
                background-image: url(/icons/icon-user.svg);
            }
        }

        div:has(> input[type="email"]) {
            &:before {
                background-image: url(/icons/icon-email.svg);
            }
        }

        div:has(> input[type="tel"]) {
            &:before {
                background-image: url(/icons/icon-phone.svg);
            }
        }

        input[type="text"],
        input[type="email"],
        input[type="tel"] {
            padding-left: 32px;
        }
    }
}

.student-info {
    .wrap {
        --gap: 20px;
    }
}

.wrap {
    display: grid;
    gap: var(--gap);
}

.column-showcase {
    > div {
        --gap: 15px;
    }
}