:root {
    --gap: 20px;
    --_btn-bg-color: #f1685c;
    --_title-bg-color: #014785;
    --_title-color: #fff;
}

* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#root {
    width: min(1120px, 100% - 40px);
    margin-inline: auto;
}

select,
input[type='text'],
input[type='email'],
input[type='password'],
input[type='tel'] {
    display: block;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #e3e3e3;
    width: 100%;
    background-color: #fff;
    color: #7e828b;
}

body {
    font-size: 16px;
}

li {
    list-style: none;
}

input {
    &:focus {
        outline: none;
        border-color: #66afe9 !important;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
    }
}

.title {
    text-align: center;
    padding: 10px;
    background: var(--title-bg-color, var(--_title-bg-color));
    color: var(--title-color, var(--_title-color));
    text-transform: uppercase;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-weight: 600;
    text-wrap: balance;
}

div:has(> :is(.next, .paylater_next)) {
    display: flex;
    justify-content: center;
    padding-block: 20px;

    @media (width >= 1000px) {
        border-top: 1px solid #e3e3e3;
    }
}

.next, .paylater_next {
    background: var(--btn-bg-color, var(--_btn-bg-color));
    border: none;
    padding: 10px;
    color: #fff;
    border-radius: 6px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    min-width: fit-content;
    width: min(300px, 100%);
    margin-inline: auto;
}

.products-list {
    display: flex;
    flex-direction: column;
    gap: var(--gap);

}

div:has(>.title) {
    display: grid;
    align-self: flex-start;
    gap: var(--gap);
}

.grid {
    display: grid;
    grid-template-columns: 3fr minmax(300px, 1fr);
    gap: var(--gap);
    padding-block: 20px;

    .grid-area--product-list {
        grid-area: product-list;
    }

    .main-course {
        grid-area: main-course;
    }

    .upgrades {
        grid-area: upgrades;
    }

    .grid-area--selected {
        grid-area: selected;
        background: #fff;
        display: grid;
        grid-template-rows: var(--content-size, 0fr);
        transition: 0.3s;
        align-items: flex-start;
    }

    .grid-area--student-info {
        grid-area: student-info;
    }

    .grid-area--delivery {
        grid-area: delivery;
    }

    .payment {
        grid-area: payment;
    }

    .grid-area--title {
        grid-area: title;
    }

    .grid-area--heading {
        grid-area: heading;
    }

    .grid-area--pay_later {
        grid-area: pay_later;
    }

    .grid-area--gateway {
        grid-area: gateway;
    }

    .grid-area--details {
        grid-area: details;

        @media (width > 1000px) {
            display: none;
        }
    }

    &:has(> .payment) {
        grid-template-areas:
            'payment selected'
    }
}

.column-showcase {
    display: flex;
    flex-direction: column;
    gap: var(--gap);

    > div {
        width: 100%;
        gap: var(--gap);
    }
}

.column-total {
    position: sticky;
    top: 20px;

    @media (width < 1000px) {
        bottom: 0
    }

    > .wrap {
        position: sticky;
        top: 20px;

        @media (width < 1000px) {
            bottom: 0
        }
    }

    .total-wrap {
        border: 1px solid #e3e3e3;
        border-top: none;
        display: grid;
        grid-template-columns: 1fr fit-content(100%);
        gap: 0;
    }

    .selection {
        display: grid;
        grid-template-columns: subgrid;
        grid-column: span 2;
        gap: 10px;
        text-wrap: balance;
        padding: 10px;

        > li {
            display: grid;
            grid-template-columns: subgrid;
            grid-column: span 2;
            align-items: flex-end;
        }

        span + span {
            justify-self: flex-end;
            font-weight: 600;
        }

        &:not(.total) {
            border-bottom: 1px solid #e3e3e3;
        }
    }

    .total {
        padding-block: 10px;
    }
}

.item {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.upgrades {
    display: flex;
    flex-direction: column;
    gap: var(--gap);

    > li {
        display: flex;
        flex-direction: column;
        gap: var(--gap);
    }
}

.product-name {
    font-weight: 600;
    display: flex;
    align-items: center;
    text-wrap: balance;
}

.product-price {
    color: #ff5c49;
    font-weight: 600;
    font-size: 20px;
    margin-left: auto;
}

.product-desc {
    text-wrap: pretty;
}

.list-heading {
    font-size: 14px;
    font-weight: 600;
}